* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
}

h2{
  color: #5c5c5c;
}

h1{
  font-weight: 500;
}

/* Menu Lateral */

aside {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem;
  width: 16%;
  align-items: center;
  position: fixed;
  height: 100vh;
  justify-content: space-between;
}

.menu-lateral {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-lateral li {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 2.3rem;
  align-items: center;
  justify-content: start;
  margin: 1rem;
  border-radius: 10px;
  color: #5c5c5c;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.desktop .menu-lateral li:hover{
  background-color: #ebebeb;
}

.home .menu-home{
  background-color: #ffb800;
  color: white;
}

/* .desktop .home .menu-home:hover{
  background-color: #e6a602;
} */

.favorite .menu-fav{
  background-color: #ffb800;
  color: white;
}

/* .desktop .favorite .menu-fav:hover{
  background-color: #e6a602;
} */

.message .menu-message{
  background-color: #ffb800;
  color: white;
}

/* .desktop .message .menu-message:hover{
  background-color: #e6a602;
} */

.history .menu-hist{
  background-color: #ffb800;
  color: white;
}

/* .desktop .history .menu-hist:hover{
  background-color: #e6a602;
} */

.setting .menu-set{
  background-color: #ffb800;
  color: white;
}

/* .desktop .setting .menu-set:hover{
  background-color: #e6a602;
} */

.menu-lateral li span {
  display: flex;
  width: 27px;
  height: 27px;
  align-items: center;
  justify-content: center;
}

.upgrade img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

/* Main / Tela Principal */

main {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin-left: 16%;
  padding: 2.8rem 2.3rem;
  background-color: #f1f1f1;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 2rem;
}

main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 6px;
}

main::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop #abrir-car{
  display: none;
}

.avatar-mobile{
  display: none;
}

.form-pesq {
  display: flex;
  float: left;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
}

.form-pesq input {
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
  width: 88%;
}

.form-pesq button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem;
  width: 12%;
  background: white;
  color: #ffb800;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.desktop .form-pesq button:hover{
  background-color: #f5ce6d;
  color: white;
}

.banner img {
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
}

.desktop .banner img:hover{
  cursor: pointer;
  box-shadow: 0px 0 20px rgba(127, 127, 127, 0.584);
  transition: 0.25s;
}

.tit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tit p {
  color: #ffb800;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.tit h2 {
  font-size: 20px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 15%;
  height: 120px;
  border-radius: 20px;
  gap: 8px;
}

.cat-item img{
  width: 48px;
  height: 48px;
}

.desktop .cat-item:hover{
  cursor: pointer;
  box-shadow: 0px 0 11px rgba(127, 127, 127, 0.584);
  transition: 0.25s;
}

.recent,
.popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
}

.desktop .scroll-box-mobile{
  min-height: 320px;
  padding: 0.5rem;
}

.desktop .scroll-box-mobile-cat{
  padding: 0.3rem;
  width: 100%;
  min-height: 140px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 31%;
  height: auto;
  padding: 1rem;
  border-radius: 15px;
  position: relative;
  background-color: white;
}

.desktop .item:hover{
  cursor: pointer;
  box-shadow: 0px 0 11px rgba(127, 127, 127, 0.584);
  transition: 0.25s;
}

.item img {
  width: 100%;
}

.img-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 180px;
  padding: 1rem;
}

.recent .img-item {
  padding: 0.5rem;
  width: 195px;
  height: 195px;
}

.preco {
  display: flex;
  align-items: self-end;
  justify-content: space-between;
}

.preco .fa-solid, b {
  color: #ffb800;
}

.valor {
  font-weight: bold;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background-color: #ffb800;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.add .fa-solid {
  color: white;
}

.desktop .add:hover{
    background-color: #e6a602;
}

.desc {
  display: flex;
  padding: 0.2rem 0.5rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
  background-color: #ff3f3f;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fa-heart {
  display: flex;
  position: absolute;
  right: 1rem;
  top: 1.3rem;
  color: #ff3f3f;
  font-size: 18px;
  cursor: pointer;
}

/* Pagamento e Carrinho */

.profile-car {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  width: 24%;
  top: 0;
  right: 0;
  padding: 1rem 1rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 1rem;
}

.profile-car::-webkit-scrollbar {
  width: 7px;
}
  
.profile-car::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 6px;
}
  
.profile-car::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.profile-car h2 {
  font-size: 20px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.icons{
  display: flex;
  font-size: 21px;
  gap: 0.3rem;
}

.icons span{
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.1s ease;
}

.desktop #back-home{
  display: none;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.desktop .icons span:hover{
  background-color: #ebebeb;
}

.icons span p{
  display: flex;
  position: absolute;
  top: -40%;
  right: 0;
  color: #ffb800;
  font-size: 25px;
}

.avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.avatar img{
  width: 100%;
}

.balance{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  background: url('./assets/fundo1.jpg') no-repeat top;
}

.credit{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem;
  height: 100%;
}

.credit-add{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px white;
  padding: 0.5rem;
  height: 100%;
  gap: 0.3rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.1s ease;
}

.desktop .credit-add:hover{
  background-color: #b07e00;
  /* opacity: 0.3; */
}

.cred-valor{
  font-size: 21px;
  font-weight: 500;
}

.credit-add p{
  font-size: 14px;
}

.credit-add i{
  font-size: 20px;
}

.address{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.end{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.end i{
  color: #ffb800;
}

.change{
  display: flex;
  border: solid 2px #ffb800;
  color: #ffb800;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.1s ease;
}

.desktop .change:hover{
  background-color: #ebebeb;
}

.note{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  max-height: 300px;
}

.order{
  display: flex;
  flex-direction: column;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

.order::-webkit-scrollbar {
  width: 5px;
}
  
.order::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 6px;
}
  
.order::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.nenhum{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  color: #5c5c5c;
  margin-top: 10px;
}

.order-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in-out;
}

.content-item{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.content-item .img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.content-item .img img{
    width: 100%;
}


.content-item .quant{
  color: #5c5c5c;
  font-size: 14px;
  font-weight: 600;
}

.content-item .nome{
  font-size: 15px;
  font-weight: 600;
}

.content-item .descricao{
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

.order-item .valor-final-item{
  font-size: 15px;
  font-weight: 600;
}

.desktop .order-item:hover{
  background-color: #ebebeb;
}

.trash{
  display: none;
  padding: 0.1rem;
  color: #5c5c5c;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.desktop .order-item:hover .trash{
  display: flex;
}

.total-taxa{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
}

.discount, .taxa, .total{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount, .taxa{
  font-size: 14px;
  color: #5c5c5c;
}

.discount{
  display: none;
}

.valor-taxa{
  color:black;
  font-weight: 400;
}


.total{
  font-size: 18px;
  font-weight: 600;
}

.cupom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: solid 2px #ffb800;
  border-radius: 15px;
  background: none;
  color: #ffb800;
  font-size: 20px;
  cursor: pointer;
}

.cupom input{
  display: flex;
  padding: 0.6rem;
  outline: none;
  border: none;
}

.erro{
  display: none;
  font-size: 13px;
  margin-left: 0.5rem;
  color: red;
}

.check{
  display: flex;
  background-color: #ffb800;
  border: none;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: white;
  font-size: 17px;
}

.desktop .btn-pay:hover, .desktop .check:hover{
  cursor: pointer;
  box-shadow: 0px 0 8px rgba(96, 96, 96, 0.721);
  transition: 0.09s;
}

.scroll-box-mobile{
  overflow: hidden;
}


/* Área Feedback */

.feedbacks {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #0b0b0bc6;
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.pay{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  border-radius: 15px;
  width: 30%;
  max-height: 75vh;
  padding: 0 0.5rem;
  gap: 0.3rem;
}

.pay .top{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.5rem;
}

.pay h2{
  font-size: 18px;
  font-weight: 500;
}

.pay .top span{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.pay .order{
  height: auto;
  max-height: 40%;
  overflow-y: auto;
}

.pay .total-taxa{
  padding: 0.3rem 0.8rem;
  gap: 0.1rem;
}

.desktop .pay .order-item:hover .trash{
  display: none;
}

.payment{
  display: flex;
  flex-direction: column;
  max-height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
}

.payment::-webkit-scrollbar {
  width: 5px;
}
  
.payment::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 6px;
}
  
.payment::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.payment-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem;
  position: relative;
  cursor: pointer;
  transition: background 0.1s ease;
  gap: 1rem;
  color: #5c5c5c;
}

.payment-item i{
  font-size: 20px;
}

.payment-item input{
  display: flex;
  position: absolute;
  right: 0.8rem;
}

.desktop .payment-item:hover{
  background-color: #ebebeb;
}

.btn-pay{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 80%;
  margin: 1rem auto;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: #ffb800;
  color: white;
  font-size: 18px;
}


/* Área Mobile */

.mobile h1{
  font-size: 28px;
}

.mobile aside{
  display: none;
  width: 100%;
}

.mobile main{
  margin: 0;
  width: 100%;
  padding: 0.5rem;
  height: auto;
}

.mobile .topo{
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.mobile .topo .topo-mobile{
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 0 0.2rem 1rem;
}

.mobile .topo .topo-mobile #abrir-car{
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 3.3rem;
  font-size: 22px;
  border-radius: 8px;
  color: #5c5c5c;
}

.mobile .topo .topo-mobile p{
  display: none;
  width: 17px;
  height: 17px;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -3px;
  top: -5px;
  background-color: #ffb800;
  border: solid 2px #ebebeb;
  font-size: 12px;
  color: white;
  border-radius: 50%;
  font-weight: 500;
  padding: 0.55rem;
}

.mobile .avatar-mobile{
  width: 35px;
  height: 35px;
  display: flex;
  margin-right: 0;
  margin-left: auto;
  position: absolute;
  right: 0.2rem;
}

.mobile .avatar{
  width: 35px;
  height: 35px;
}

.mobile .form-pesq{
  width: 100%;
}

.mobile .scroll-box-mobile{
  display: inline;
  padding: 0.5rem;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  min-height: 300px;
}

.mobile .scroll-box-mobile-cat{
  display: inline;
  padding: 0.3rem;
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  min-height: 100px;
}

.mobile .recent, 
.mobile .popular{
  width: 250%;
  justify-content: flex-start;
  gap: 0.5rem;
}

.mobile .category{
  justify-content: flex-start;
  gap: 1rem;
  width: 190%;
  height: auto;
}

.mobile .cat-item{
  padding: 0.5rem 1rem;
  width: 110px;
  height: 80px;
  gap: 0;
}

.mobile .cat-item img{
  width: 40px;
  height: 40px;
}

.mobile .cat-item p{
  font-size: 13px;
}

.mobile .item{
  width: 70%;
}

.mobile .scroll-box-mobile-cat::-webkit-scrollbar {
  display: none;
}

.mobile .scroll-box-mobile::-webkit-scrollbar {
  display: none;
}

.mobile main::-webkit-scrollbar {
  display: none;
}

.mobile .profile-car{
  display: none;
  width: 100%;
  padding: 1rem;
  background-color: white;
  gap: 0.5rem;
}


.mobile .profile{
  padding: 0 0 0.5rem;
  color: #5c5c5c;
}

.mobile #back-home{
  font-size: 20px;
  display: flex;
  
}

.mobile .avatar{
  display: none;
}

.mobile .profile-car::-webkit-scrollbar {
  display: none;
}

.mobile .trash{
  display: flex;
}


/* Área feedback */

.mobile .feedbacks{
  position: fixed;
  overflow: hidden;
  align-items: normal;
  height: 100%;
  padding: 0.5rem;
}

.mobile .pay{
  width: 100%;
  margin-top: 10%;
  max-height: 70vh;
}

.mobile .pay .order{
  min-height: 17%;
}


/* Área active */

.mobile .menu-lateral li:active{
  background-color: #ebebeb;
}


.mobile .home .menu-home:active{
  background-color: #e6a602;
}

.mobile .form-pesq button:active{
  background-color: #f5ce6d;
  color: white;
}

.mobile .banner img:active{
  cursor: pointer;
  box-shadow: 0px 0 20px rgba(127, 127, 127, 0.584);
  transition: 0.25s;
}

.mobile .cat-item:active{
  cursor: pointer;
  box-shadow: 0px 0 11px rgba(127, 127, 127, 0.584);
  transition: 0.25s;
}

.mobile .item:active{
  cursor: pointer;
  box-shadow: 0px 0 11px rgba(127, 127, 127, 0.584);
  transition: 0.25s;
}

.mobile .add:active{
  background-color: #e6a602;
}

@media (min-width: 610px){
  .mobile .category{
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }
}
